<nav class="navbar navbar-expand navbar-light bg-white static-top osahan-nav sticky-top">
   &nbsp;&nbsp; 
   <button class="btn btn-link btn-sm text-secondary order-1 order-sm-0" id="sidebarToggle">
      <i class="fas fa-bars"></i>
   </button> &nbsp;&nbsp;
   <a class="navbar-brand mr-1" href="/"><img class="img-fluid" style="width: 32px; margin-top: -5px" alt="" src="/assets/img/logo.png"> <span class="ml-2" style="font-size: 24px; letter-spacing: 0.4px;">video</span></a>
    <!-- Navbar Search -->
  
   <% if (user.usertype == "Streamer") { %>
      <form class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-5 my-2 my-md-0 osahan-navbar-search" style="visibility: hidden;">
         <div class="input-group">
            <input type="text" class="form-control" placeholder="Search for...">
            <div class="input-group-append">
               <button class="btn btn-light" type="button">
               <i class="fas fa-search"></i> 
               </button>
            </div>
         </div>
      </form>
   <% }else{ %>
      <form class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-5 my-2 my-md-0 osahan-navbar-search">
         <div class="input-group">
            <input type="text" class="form-control" placeholder="Search for...">
            <div class="input-group-append">
               <button class="btn btn-light" type="button">
               <i class="fas fa-search"></i> 
               </button>
            </div>
         </div>
      </form>
   <% } %> 
  <!-- Navbar -->
  <ul class="navbar-nav ml-auto ml-md-0 osahan-right-navbar">
     
   <% if (user.usertype != "Streamer") { %>
      <li class="nav-item dropdown no-arrow mx-1">
         <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-bell fa-fw" style="font-size: 16px;"></i>
            <span class="badge badge-danger" id="notificationCount"></span>
         </a> 
         <div class="dropdown-menu dropdown-menu-right" id="notification" aria-labelledby="alertsDropdown">
            
         </div>
      </li>
   <% } %>
      <li class="nav-item dropdown no-arrow osahan-right-navbar-user">
         <a class="nav-link dropdown-toggle user-dropdown-link" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <img alt="Avatar" src="/<%= user.image %>">
            <span id="viewer"><%= user.username %></span>
         </a>
         <div class="dropdown-menu dropdown-menu-right" style="width: 200px;" aria-labelledby="userDropdown">
            <% if (user.usertype == "Streamer") { %>
               <a class="dropdown-item" href="/broadcast/account"><i class="fas fa-fw fa-user-circle"></i> &nbsp; My Account</a>
               <a class="dropdown-item" href="/"><i class="fas fa-fw fa-video"></i> &nbsp; Dashboard</a>
               <div class="dropdown-divider"></div>
               <a class="dropdown-item logout" data-toggle="modal" data-target="#logoutModal"><i class="fas fa-fw fa-sign-out-alt"></i> &nbsp; Logout</a>
            <% }else{ %>
               <a class="dropdown-item" href="/account"><i class="fas fa-fw fa-user-circle"></i> &nbsp; My Account</a>
               <a class="dropdown-item" href="/channels"><i class="fas fa-fw fa-video"></i> &nbsp; Subscriptions</a>
               <div class="dropdown-divider"></div>
               <a class="dropdown-item logout" data-toggle="modal" data-target="#logoutModal"><i class="fas fa-fw fa-sign-out-alt"></i> &nbsp; Logout</a>
            <% } %>
         </div>
      </li>
  </ul>
</nav>
